<div class="well">
  <header>Order Payment</header>
  <br>
  <b>Products</b>
  <br>
  <% @order.order_items.each do |item| %>
    <%= item.product_name %> (<%= item.quantity %>)
    <br>
  <% end %>
  <br>
  <b>Customer</b>
  <br>
  Name: <%= @order.first_name %> <%= @order.last_name %>
  <br>
  Email: <%= @order.email %>
  <br><br>
  <b>Delivery Information</b>
  <br>
  Name: <%= @order.delivery_first_name %> <%= @order.delivery_last_name %>
  <br>
  Address: <%= @order.address %>
  <br>
  City: <%= @order.city %>
  <br>
  State: <%= @order.state %>
  <br>
  Zip: <%= @order.zip %>
  <br>
  Country: <%= @order.country %>
  <br>
  Phone: <%= @order.phone %>
  <br><br>
  <b>Subtotal: $<%= @order.subtotal %></b>
  <br>
</div>

<%= form_tag order_charges_path(@order) do %>
<article>
  <% if flash[:error].present? %>
    <div id="error_explanation">
      <p><%= flash[:error] %></p>
    </div>
  <% end %>
</article>

<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-description= "$<%= @order.subtotal %>"
        data-amount="<% @order.subtotal %>"
        data-locale="auto"></script>
<% end %>
