<%= form_for @product, html: { multipart: true }, remote: true do |f| %>
  <div>
    <%= f.label :name %>
    <br>
    <%= f.text_field :name, required: 'required' %>
    <br><br>
    <%= f.label :product_id %>
    <br>
    <%= f.text_field :product_id, required: 'required' %>
    <br><br>
    <%= f.label :price %>
    <br>
    <%= f.text_field :price, required: 'required' %>
    <br><br>
    <%= f.label :description %>
    <br>
    <%= f.cktext_area :description, required: 'required' %>
    <br><br>
    <%= f.label :status %>
      <br>
    <%= f.select :status, [['In Stock', true], ['Sold Out', false]] %>
    <br>
    <br><br>
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <br>
  <div class='form-group'>
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>
