<!DOCTYPE html>
<html>
<head>
  <title>PerformanceParts</title>
  <%= javascript_include_tag "https://js.stripe.come/v1/",'application', 'data-turbolinks-track': true %>
  <%= stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
  <%= javascript_include_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to image_tag('logo.png'), home_index_path, class: "navbar-brand" %>
      </div>
      <div id="nav-right">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
           <a href id="text-color" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="navbar-brand">
             Admin Tools
             <span class="caret">
             </span>
           </a>
           <ul class="dropdown-menu">
             <li>
               <%= link_to 'Orders', orders_path, class: "navbar-brand" %>
             </li>
             <li>
               <%= link_to 'Add Product', new_product_path, class: "navbar-brand" %>
             </li>
             <li>
               <%= link_to 'Add Car', new_car_path, class: "navbar-brand" %>
             </li>
           </ul>
         </li>
          <li>
            <%= link_to "Online Store", store_index_path, class: "navbar-brand" %>
          <li>
            <span class="cart-text"><%= render 'layouts/cart_text' %></span>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <%= yield %>
  </div>

</body>
<footer>
</footer>
</html>
